%span.main_span{id: l.key}
  !=partial :"_new_flag", locals: {record: l}
  %a.main_link{key: l.key, href: l.url}=h(l.name)
  !=partial :"_ft_#{l.type}", locals: {record: l}
  %span.mtime=l.mtime.to_s.sub(/\ \+0900$/, '')
  %span.size=number_to_human_size(l.size).encode('UTF-8', 'UTF-8')
  %a.meta{href: "/meta/#{l.key}"} Meta
  -if l.srt
    %a.sub.meta{href: "/sub/#{l.key}"} Sub
  -if l.type == 'txt' or l.type == 'read'
    %a.ao.meta{href: "/ao/#{l.key}"} Aozora
  %a.delete{href: 'javascript:void(0)', onclick: "var ok=confirm('Really?'); if (ok) location.href='/delete/#{l.key}?href=#{CGI.escape request.url}'; return false;"} Delete
  %br

