!!!
%title Pig Media Server
%meta(content='width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport')
%script{src: 'http://code.jquery.com/jquery.min.js'}
-%w{storage session movie unread}.each do |js|
  %script{src: "/#{js}.js"}

%link{href: '/app.css', rel: 'stylesheet', type: 'text/css'}
:css
  .none{display:none}
#area=''
#all
  -unless session[:user_id]
    %a{href: '/sessions'} Login
  -else
    Login as
    %span#user_id=session[:user_id]
    %a{href: '/sessions'} Logout
  %p=flash[:notice]
  %h1 Pig Media Server 
  %form{method: 'GET', action: '/'}
    %input{name: 'query', value: params[:query]}
    %button Search
    %a{href: '/latest'} Latest
    %a{href: '/config'} Config
    -if config['custom_list'].class == Hash
      -config['custom_list'].each do |k,v|
        %a{href: "/custom?name=#{CGI.escape k}"}=k
  -if @page 
    %p.autopagerize_page_element
      -@list.each do |l|
        -next unless l.record
        !=partial :_link, locals: {l: l}
    %p.pager
      -if params[:query] and params[:query].empty? == false
        %a{href: "/?query=#{CGI.escape params[:query]}&page=#{@page+1}"} Next
        %a{href: "/edit?query=#{CGI.escape params[:query]}"} Edit
      -elsif params[:sub]
        %a{href: "/?sub=true&page=#{@page+1}"} Next
      -else
        %a{href: "/latest?page=#{@page+1}"} Next

.none
  %span#action=@action
  %canvas#canvas
