!!!
%title= title
%meta(content='width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport')
%script(type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js")
%script{src: 'https://code.jquery.com/jquery.min.js'}
-%w{flv storage session movie unread book book2 swipe chromecast}.each do |js|
  %script{src: "/#{js}.js"}

%link{href: '/app.css', rel: 'stylesheet', type: 'text/css'}
:css
  .none{display:none}
#area=''
#all
  -unless session[:user_id]
    %a{href: '/sessions'} Login
  -else
    Login as
    %span#user_id=session[:user_id]
    %a{href: 'javascript:void(0)', onclick: 'logout()'} Logout
  %p=flash[:notice]
  %h1 Pig Media Server 
  %form{method: 'GET', action: '/'}
    %input{name: 'query', value: params[:query]}
    %button Search
    %a{href: '/latest'} Latest
    %a{href: '/config'} Config
    -if session[:user_id]
      %a{href: '/stars'} Stars
      %a{href: '/tv'} Cast
    %a#only-new{href: 'javascript:void(0)'} Only New
    -if config['custom_list'].class == Hash
      -config['custom_list'].each do |k,v|
        %a{href: "/custom?name=#{CGI.escape k}"}=k
    -if remote?
      %a(href='javascript:void(0)' onclick='save_to_pig("remote_key", "")') Stop Remote
  -if @page 
    -if params[:query] and params[:query].empty? == false
      %p
        %a{href: "/feed?query=#{CGI.escape params[:query]}&sort=#{params[:sort]}"} Feed
        %a{href: "/?query=#{CGI.escape params[:query]}"} Sort By Date
        %a{href: "/?query=#{CGI.escape params[:query]}&sort=name"} Sort By Name
        - if params[:order] != 'ascending'
          %a{href: "/?"+params.merge('order' => 'ascending').map{|k,v| URI.encode(k.to_s) + "=" + URI.encode(v.to_s) }.join('&')} Ascending
        - if params[:order] != 'descending'
          %a{href: "/?"+params.merge('order' => 'descending').map{|k,v| URI.encode(k.to_s) + "=" + URI.encode(v.to_s) }.join('&')} Descending

    %p.autopagerize_page_element
      -@list.each do |l|
        -next unless l.record
        -next unless l.record.path
        !=partial :_link, locals: {l: l}
    %p.pager
      -if params[:query] and params[:query].empty? == false
        %a{href: "/?query=#{CGI.escape params[:query]}&page=#{@page+1}"} Next
        %a{href: "/edit?query=#{CGI.escape params[:query]}"} Edit
      -elsif params[:sub]
        %a{href: "/?sub=true&page=#{@page+1}"} Next
      -elsif @no_paging
      -else
        %a{href: "/latest?page=#{@page+1}"} Next

.none
  %span#action=@action
  %canvas#canvas
